@use 'sass:map';
@use 'sass:color';
@use 'sass/config' as *;

/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Config
  • Base Styles
  • --push Styles
  • --pro Styles
  • Option item
  • Pricing item
*/

/*
  • Config
  ---------- ---------- ---------- ---------- ----------
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.c-button {
  display: inline-flex;
  align-items: center;
  min-width: max-content;
  max-width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: rem(map.get($font-sizes, 'base-medium'));
  background: map.get($palette, 'black');
  color: #fff;
  transition: background-color 0.3s ease-in;

  &:hover {
    background: rgba(0, 0, 0, 0.70);
  }

  &__icon {
    display: inline-block;
    margin-left: rem(10);
    height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background-color: #fff;
  }
}

.bg-red {
  background: map.get($palette, 'red');;
}

.bg-blue {
  background: map.get($palette, 'blue');;
}

.bg-purple {
  background: map.get($palette, 'purple');;
}

.bg-green {
  background: map.get($palette, 'green');;
}

/*
  • Base Styles
  ---------- ---------- ---------- ---------- ----------
*/

.paywall-component {
  font-family: "forma-djr-text", sans-serif;
  font-weight: 400;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin: auto;

  &__container {
    max-width: rem(1165);
    padding: rem(40) rem(25);
    margin: 0 auto;

    > :not(:first-child) {
      margin-top: rem(50);
    }
  }

  &__title {
    font-size: rem(map.get($font-sizes, 'header-xlarge'));
    line-height: 130%;
    max-width: 75%;
    font-weight: inherit;
  }

  &__headers {
    > :not(:first-child) {
      margin-top: rem(10);
    }
  }

  &__subtitles {
    font-weight: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem 4rem;
  }

  &__subtitles-text {
    font-size: rem(map.get($font-sizes, 'header-medium'));
    line-height: 130%;
  }

  &__options {
    display: flex;
    flex-wrap: wrap;
    gap: rem(60);

    //remove space between items before calculating their width
    > * {
      max-width: calc((100% - rem(120)) / 3);
      flex-grow: 1;
    }
  }
}

@media all and (max-width: 580px) {
  .paywall-component {
    &__title {
      max-width: 100%;
    }

    &__options {
      gap: rem(25);

      > * {
        width: 100%;
      }
    }
  }
}

.option-item {
  display: flex;
  height: 400px;
  min-width: min-content;
  padding: rem(45) rem(25);
  color: #fff;

  &__name {
    padding: 0;
    font-size: rem(map.get($font-sizes, 'header-large'));
    writing-mode: vertical-rl;
    text-align: right;
    transform: rotate(180deg);
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 rem(25);
  }

  &__title {
    font-size: rem(map.get($font-sizes, 'header-medium'));
    line-height: 130%;
    font-weight: inherit;
    padding-bottom: rem(25);
    max-width: min-content;
  }
}

/*
  • Pricing item
  ---------- ---------- ---------- ---------- ----------
*/

.pricing-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: rem(25);

  &__title,
  &__option {
    font-size: rem(map.get($font-sizes, 'base-small'));
  }

  &__price {
    font-size: rem(map.get($font-sizes, 'header-large'));
    margin: rem(10) 0;
    line-height: 130%;
  }

  &__list {
    padding: rem(30) 0;

    // Todo: fix list circle style
    li {
      margin-bottom: rem(30);
    }
  }
}

/*
  • paywall cta
  ---------- ---------- ---------- ---------- ----------
*/

.paywall-cta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: rem(50);
  align-items: center;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);

  //remove space between items before calculating their width
  > * {
    width: calc((100% - rem(125)) / 3);
  }

  &__title {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .pricing-item {
    padding-left: rem(50);
    padding-right: rem(50);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    padding-top: 0;

    &__price {
      font-size: 2em;
      margin: rem(10) 0 ;
    }
  }

  &.text-white {
    color: #fff;
  }
}

@media all and (max-width: 768px) {
  .paywall-cta {
    > * {
      width: 100%;
    }

    .pricing-item {
      padding-left: 0;
      border-left: 0;
      padding-top: rem(50);
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
}


/*
  • --push styles
  ---------- ---------- ---------- ---------- ----------
*/

.--push {
  .paywall-component {
    &__subtitles-text {
      display: none;
    }
    &__headers {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;

      > :not(:first-child) {
        margin-top: rem(10);
      }
    }
  }
}

/*
  • --pro styles
  ---------- ---------- ---------- ---------- ----------
*/

.--pro.paywall-component {
  .pricing-item {

    &__title {
      font-size: 0.8rem;
    }
  }
}

/*
  • --for-vigie styles
  ---------- ---------- ---------- ---------- ----------
*/

.--for-vigie.paywall-component {
  .paywall-component {
    &__options {
      display: flex;
      align-items: stretch;
      justify-content: stretch;
      flex-wrap: wrap;
      gap: rem(50);

      //remove space between items before calculating their width
      > * {
        max-width: calc((100% - rem(50)) / 2);
        flex-grow: 1;
      }
    }
  }

  .option-item {
    display: flex;
    height: max-content;
    min-width: min-content;

    &__name {
      padding: 0;
      font-size: rem(35);
      writing-mode: vertical-rl;
      text-align: right;
      transform: rotate(180deg);
    }

    &__content {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0 rem(25);
    }

    &__title {
      min-height: rem(80);
      padding-bottom: rem(15);
      max-width: 100%;
    }

    &__pricing {
      padding: rem(15) 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
}

@media all and (max-width: 488px) {
  .paywall-component {
    &__options {

      //remove space between items before calculating their width
      > * {
        //Todo: find a way to remove !important use here
        max-width: 100% !important;
        width: 100%;
        flex-grow: 1;
      }
    }
  }
}

/*
  • Option item
  ---------- ---------- ---------- ---------- ----------
*/
